.transactions-section{

margin:30px;

}

.transactions-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.transactions-header button{

background:none;

color:#1E40AF;

font-weight:600;

}

.transactions-list{

display:flex;

flex-direction:column;

gap:18px;

}

.transaction-card{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:20px;

border-radius:16px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.transaction-card:hover{

transform:translateY(-3px);

}

.transaction-left{

display:flex;

align-items:center;

gap:18px;

}

.transaction-icon{

width:55px;

height:55px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:#1E40AF;

color:white;

font-size:22px;

}

.transaction-right{

display:flex;

align-items:center;

gap:18px;

}

.credit{

color:#10B981;

}

.debit{

color:#EF4444;

}

.details-arrow{

color:#6B7280;

}

@media(max-width:768px){

.transaction-card{

flex-direction:column;

align-items:flex-start;

gap:15px;

}

.transaction-right{

width:100%;

justify-content:space-between;

}

}









.empty-transactions{

text-align:center;

padding:30px;

color:#888;

font-weight:500;

}

