.success-card{

background:white;

padding:40px;

border-radius:20px;

text-align:center;

width:90%;

max-width:420px;

box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.success-icon{

font-size:70px;

color:#10B981;

margin-bottom:20px;

}

.done-btn{

margin-top:25px;

width:100%;

padding:15px;

background:#1E40AF;

color:white;

border:none;

border-radius:12px;

font-size:16px;

font-weight:600;

cursor:pointer;

}